@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*{
  margin:0;
  padding:0;
  font-size:large;
  max-width: 100%;
  font-family: 'Baloo 2', cursive;
  font-size: 22px;
}
body{
  background: linear-gradient(180deg, #F67280 0%, #8CA5CA 32.81%);  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.navbar{
  opacity: 0.9;
}
.dropdownMenu{
  display:inline-block;
}
.main{
  width: inherit;
  height: inherit;
}
.logoImg{
  width: 8%;
  height: 8%;
}
.profileImg{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  opacity: 0.9;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.col-md-5:hover .profileImg {
  opacity: 0.3;
}
.col-md-5:hover .middle {
  opacity: 1;
}
.text {
  color: white;
  font-size: 60px;
}
.introText{
  color: rgb(245, 244, 244);
}
.pinkTitle{
  color: #BC4854;
}
.myName{
  margin-bottom: 6%;
}
.whiteTitle{
  color: rgb(245, 244, 244);
  margin-bottom: 2%;
}
.contactimg{
  height:100%;
  width:50%;
  margin-left: 40%;
}
.tools{
  letter-spacing: 0.2em;
}
.white{
  background:white;
  min-height: 100%;
}

.projectImg{
  width:80%;
  height:50%;
  margin-bottom:5%;
  }
.sections{
  padding: 10%;
  min-height: 90%;

}
.projects{
  padding-left:2%;
}
.contactDiv{
  padding-left: 4%;
} 
.middleBtn{
margin-left: 40%;
}
.skillsDiv{
  margin-left: 2%;
}
.contact{
  margin-left: 40%;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  *{
    font-size: 20px;    
  }  
  .projectSection{
    padding-left: 20%;
  }
  .text{
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  *{
    font-size: 15px;    
  } 
  .sections{
    padding:5%;
    padding-left: 10%;
  
  }
  .myName{
  margin-top: 0%;
  }
  .projectTitle{
  padding-left: 20%;
}
  .projectImg{
  width: 65%;
}
}
@media (max-width: 576px) {
  *{
    font-size: 15px;
    margin:0;
    padding:0;
  }
  .cv{
    margin-left: 30%;
  }
  .skillsDiv{
    margin-left: 10%;
  }
  .contact{
    margin-left: 35%;
  }
  .myName{
    margin-top: 6%;
  }
  .logoSpacing{
    padding-bottom: 15%;
    margin-left: 5%;
  }
  .projectSection{
    padding-left: 15%;
  }

}
@media (max-width: 368px){
  *{
    font-size: 15px;
    margin:0;
    padding:0;
  }
  .contact{
    padding-left: 0;
  }
  .cv{
    margin-left: 18%;
  }
  .projectImg{
    width: 100%;
  }
}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








